{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/custom.css', 105) %}
        {% do assets.addCss('https://fonts.googleapis.com/css?family=Roboto:300,400', 104) %}
        {% do assets.addCss('theme://plugins/linearicons/style.css', 103) %}
        {% do assets.addCss('theme://plugins/owl-carousel/owl.transitions.css', 102) %}
        {% do assets.addCss('theme://plugins/owl-carousel/owl.theme.css', 101) %}
        {% do assets.addCss('theme://plugins/owl-carousel/owl.carousel.css', 100) %}
        {% do assets.addCss('theme://plugins/font-awesome-4.6.1/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    <div class="header">
        <div class="wrapper padding">
            <a class="logo left" href="{{ base_url == '' ? '/' : base_url }}">
                <i class="fa fa-rebel"></i>
                {{ config.site.title }}
            </a>
            {% block header_navigation %}
            <nav class="main-nav">
                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="body">
        <div class="wrapper padding">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footerTop %}
        <section id="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>ABOUT THE COMPANY</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod veniam eius, qui id et mollitia illum vero, quasi asperiores, unde dolores eligendi recusandae illo sunt totam harum iusto saepe laudantium.</p>
                    <div class="social">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <a href=""><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>get in touch</h3>
                    <div class="contact-list">
                        <ul>
                            <li class="address">ICC Trade Tower, 'A' Wing, 5th Floor,
                                <br> Senapati Bapat Road, Shivajinagar,
                                <br> Pune 411 016, Maharashtra, India.</li>
                            <li class="mail">+91 20 4011 4500 / 4501</li>
                            <li class="phone">support@mkcl.org</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>USEFUL LINKS</h3>
                    <div class="useful-links">
                        <ul>
                            <li>Sitemap</li>
                            <li>User Login</li>
                            <li>Help & Support</li>
                            <li>COntact US</li>
                            <li>Terms n Condition</li>
                            <li>Disclaimer</li>
                            <li>Return Policy</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    <section id="footer">
        <div class="container">
            <p>Created with <i class="fa fa-heart text-white"></i> by Prajkt Yeole</p>
        </div>
    </section>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
